
.button{
-fx-background-color :   #BF3C3C;
-fx-text-fill: #FFFFFF;
-fx-font-weight:bold;
}

.button:hover{
-fx-background-color : #F35353;
}

.button:pressed{
    -fx-background-color : #7F2828;
}


.choice-box {
  -fx-background-color: black;
  -fx-mark-color: orange;
}

.choice-box > .label { -fx-text-fill: white; }

.text-field {
    -fx-background-color: #BF3C3C, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-prompt-text-fill: #BF3C3C;
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;
}

.date-picker:editable > .arrow-button > * {
    -fx-opacity: 0; /* Set the node in the button to be visible */
}

.button7{
    -fx-border-color: #BF3C3C;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 1em; /* 12 */
    -fx-text-fill: #828282;
}

.button7:focused {
    -fx-border-color: transparent, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 2);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button7:pressed {
    -fx-background-color: black;
    -fx-text-fill: white;
}

#lv .list-cell {
    -fx-alignment: center;
}